/* sidebar  */
   
.w-10{
    width: 17%;
}

.f-20{
    font-size: 20px;
}

.px-35{
    width: 35px;
    height: 35px;
}

.f-14{
    font-size: 14px;
}

.pxh-40{
    height: 40px;
}
.c-pink{
    background-color: #e91e63;
}

